@import "../colors.scss";
@import "../mixins.scss";


.navbar {
  background-color: $red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 5px 20px;
  position: relative;
  width: 100%;
  z-index: 3;
  
  ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    justify-content: space-around;
    
    a {
      color: white;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .1em;
      text-transform: uppercase;
      
      &:hover {
        @include linkStyling(1.5px 0, white)
      }
      
      &:focus {
        @include linkStyling(1.5px 0, white)
      }
    }
  }
}

.hamburger-container {
  display: none;
}

.hamburger {
  background-color: #fff;
  height: 2px;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 30px;
}

.active {
  .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  
  .bar2 {
    opacity: 0;
  }
  
  .bar3 {
    transform: rotate(45deg) translate(-5.5px, -5px);
  }
} 

.navigation {
  align-items: center;
  background-color: $red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;  
  position: static;
  top: -500%;
  transition: top .3s ease-out;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
    padding-bottom: 15px;
    position: absolute;  
    
    li {
      padding: 15px 0;
    }
  }
  .navigation.active {
    height: 75vh;
    margin: 0;
    padding: 0 0 10px;
    top: 44px;
  }
  .hamburger-container {
    display: block;
    outline: none;
    padding: 10px 0;
  }
}
