@import "../colors.scss";
@import "../mixins.scss";

.info-line {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 50px;
}

.information-section {
  display: flex;
  height: auto;
  width: 100%;
}

.information-section {
  padding-top: 30px;
  
  img {
    border: 1px solid $gray;
    display: block;
    height: 200px;
    object-fit: cover;
    width: 200px;
  }
}

.character-basics {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-left: 20px;
  width: 100%;
  
  .character-name {
    width: 100%
  }
  
  .character-class,
  .character-background {
    width: 50%;
  }
  
  .character-race,
  .character-alignment {
    width: 37.5%;
  }
  
  .character-xp {
    width: 25%;
  }
  
  p {
    line-height: 20px;
    margin: 10px 0 0;
  }
  
  .character-label {
    border-top: 1px solid $gray;
    
    h3 {
      font-size: 12px;
      margin: 5px 0 0;
    }
  }
}

.spells-section {
  h2 {
    margin-bottom: 0;
  }
  
  .spells-search-field {
    margin: 5px 5px 20px;
    
    .toggledForm button {
      background-color: $red;
      border: 2px solid $red;
      color: white;
      font-size: 16px;
      height: 42px;
      margin: 0;
      outline: none;
      width: 110px;
      
      &:hover,
      &:focus {
        background-color: $black;
      }  
    }
  }
  
  .spells-search-toggle {
    // border-bottom: 1px solid $gray;
    display: flex;
    margin: 0 0 15px 5px;
    width: 150px;
    
    .spells-toggle-alternative {
      height: 20px;
      padding: 0 10px 0 0;
      
      button {
        background-color: transparent;
        border: none;
        color: $red;
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 2.5px;
        outline: none;
        padding: 0;
        text-transform: uppercase;
        
        &:hover,
        &:focus {
          @include linkStyling(0 0 1.5px 0, $red)
          padding: 0;
        }
      }
    }  
  }
}

.party-section {
  h2 {
    margin-bottom: 0;
  }
  
  h3 {
    color: $red;
    margin: 0 0 0 10px;
    text-transform: uppercase;
  }
}

.party-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.spells-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .party-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .information-section {
    img {
      height: 230px;
      width: 120px;
    }
    .character-basics {
      margin-left: 12px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .party-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .information-section {
    flex-direction: column;
    img {
      height: 280px;
      width: 280px;
    }
    .character-basics {
      margin-left: 0;
      margin-top: 10px;
      
      .character-name,
      .character-class,
      .character-background,
      .character-race,
      .character-alignment,
      .character-xp {
        width: 100%;
      }
    }
  }
  
}
