@import "../colors.scss";
@import "../mixins.scss";

.info-line {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 50px;
}

.information-section,
.graphs-section {
  display: flex;
  height: auto;
  width: 100%;
}

.information-section {
  padding-top: 30px;
  
  img {
    border: 1px solid $gray;
    display: block;
    height: 200px;
    object-fit: cover;
    width: 200px;
  }
}

.character-basics {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-left: 20px;
  width: 100%;
  
  .character-name {
    width: 100%
  }
  
  .character-class,
  .character-background {
    width: 50%;
  }
  
  .character-race,
  .character-alignment {
    width: 37.5%;
  }
  
  .character-xp {
    width: 25%;
  }
  
  p {
    line-height: 20px;
    margin: 10px 0 0;
  }
  
  .character-label {
    border-top: 1px solid $gray;
    
    h3 {
      font-size: 12px;
      margin: 5px 0 0;
    }
  }
}

.spells-section {
  h2 {
    margin-bottom: 5px;
  }
  
  .spells-search-toggle {
    // border-bottom: 1px solid $gray;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 5px;
    width: 150px;
    
    .spells-toggle-alternative {
      height: 20px;
      padding: 0 10px;
      
      button {
        background-color: transparent;
        border: none;
        color: $red;
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 2.5px;
        outline: none;
        padding: 0 0 3px;
        text-transform: uppercase;
        
        &:hover {
          @include linkStyling(0 0 1.5px 0, $red)
        }
        
        &:focus {
          @include linkStyling(0 0 1.5px 0, $red)
        }
      }
    }  
  }
  
  .input-box {
    width: 200px;
    
    input {
      width: 100%;
    }
  }
}

.party-section {
  h2 {
    margin-bottom: 0;
  }
  
  h3 {
    color: $red;
    margin: 0 0 0 10px;
    text-transform: uppercase;
  }
}

.party-container {
  display: flex;
  width: 100%;
}

.spells-container {
  display: flex;
  flex-wrap: wrap;
}
