.input-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  
  label {
    font-family: $main-font;
    height: auto;
    margin: 0 0 3px 5px;
    width: 100%;
  }
  
  input {
    height: 35px;
    padding: 5px 10px;
    
    &:focus {
      outline-color: $red;
    }
  }
}

form button {
  background-color: $red;
  border: none;
  color: white;
  font-size: 16px;
  height: 42px;
  margin-top: 20px;
  width: 110px;
  
  &:hover,
  &:focus {
    background-color: $black;
    outline-color: $red;
  }
}
