@import "./colors.scss";
@import "./fonts.scss";
@import "./form.scss";
@import "./heroes.scss";
@import "./mixins.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #000;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  color: $red;
  cursor: pointer;
  font-family: $main-font;
  line-height: 20px;
  outline: none;
  text-decoration: none;
  
  &:hover {
    @include linkStyling(0 0 1.5px 0, $red)
  }
  
  &:focus {
    @include linkStyling(0 0 1.5px 0, $red)
  }
}

h1, h2 {
  font-family: $main-font;
  font-weight: 700;
  margin-left: 5px;
  text-transform: uppercase;  
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
}

p {
  line-height: 20px;
}

button {
  cursor: pointer;
  font-family: $main-font;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 0 150px;
  width: 100%;
}

.inner-wrapper {
  padding: 0 20px;
}

.hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.text-padding {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  display: inline;
  padding: 5px 7px;
  box-decoration-break: clone;
}
