@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: $body-font;
}

a {
  color: $red;
  cursor: pointer;
  font-family: $heading-font;
  outline: none;
  text-decoration: none;
  
  &:hover {
    @include linkStyling(0 0 1.5px 0, $red)
  }
  
  &:focus {
    @include linkStyling(1.5px 0, $red)
  }
}

h1, h2 {
  font-family: $heading-font;
  font-weight: 400;
}

p {
  font-family: $body-font;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 50px 20px;
  width: 100%;
}
